/* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global styles */
body {
	font-family: Arial, sans-serif;
}

h1, h2 {
	font-size: 36px;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

ul {
	list-style: none;
}

a {
	color: #fff;
	text-decoration: none;
}

/* Header styles */
header {
	background-color: #333;
	padding: 20px;
	color: #fff;
}

nav {
	display: flex;
	justify-content: flex-end;
}

nav ul {
	display: flex;
}

nav li {
	margin-left: 20px;
}

/* Main styles */
main {
	padding: 50px;
}

section {
	margin-bottom: 50px;
}

.btn {
	background-color: #f00;
	padding: 10px 20px;
	border-radius: 5px;
}

#features {
	background-color: #f2f2f2;
	padding: 50px;
}

#features li{
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

#features i {
	font-size: 24px;
	margin-right: 10px;
	color: #f00;
}

#contact {
	background-color: #333;
	padding: 50px;
	color: #fff;
}

form label {
	display: block;
	margin-bottom: 5px;
}

form input,
form textarea {
	display: block;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

form input[type="submit"] {
	background-color: #f00;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.animation-div{
	width: 100px;
	height: 100px;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	
	animation-name: div_animation;
	animation-duration: 3.5s;
	animation-timing-function: ease-out;
	animation-delay: 0s;

	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-play-state: none;
	animation-fill-mode: running;
}
 @keyframes div_animation {
	0%{
		background-color: red;
		left: 0%;
	}
	50%{
		background-color: blue;
		border-radius: 100px;
		left: 50%;
	}
	100%{
		background-color: yellow;
		left: 0%;
	}
 }