   .main_title{
        text-transform: capitalize;
   }
   .big{
    width: 450px;
    overflow-x: hidden;
   }
   article{
    border-bottom: 1px solid #ddd;
        padding: 10px 0;
   }
   article:first-child .main_title{
        background-color: rgb(255, 187, 0);
        color: #fff;
        padding: 8px;
    }
    article .content {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    article .content .min{
    
    width: 60%;
    }
    article .content .min img{
        width: 100%;
        height: auto;
    }
    article .content .description{
        width: 60%;
        padding-left: 15px;
    }
    article:first-child .min {
        margin-bottom: -4.9px;
    }
    article:first-child .min img{
        width: 100%;
        height: auto;
    }